<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ redirect_domain }}

    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    ProxyPreserveHost on
    RewriteEngine On

    Include /etc/apache2/redirect.rules
    Define PUSH_UNWANTED https://www.microsoft.com/en-us

    RewriteCond %{HTTP_USER_AGENT} (google|yandex|bingbot|Googlebot|bot|spider|wget|curl|Python|Slackbot|netcraft) [NC]
    RewriteRule ^.*$ ${PUSH_UNWANTED} [R=302,L]

    {% if custom_header_name is defined %}
    RewriteCond %{HTTP:{{ custom_header_name }}} "!^{{ custom_header_value }}$" [NC]
    RewriteRule ^.*$ ${PUSH_UNWANTED} [R=302,L]
    {% endif %}

    # GET
    RewriteCond %{REQUEST_METHOD} ^GET$
    RewriteRule ^{{ get_path }}(.*)$ https://{{ redirect_target }}{{ get_path }}$1 [P,L]

    # POST
    RewriteCond %{REQUEST_METHOD} ^POST$
    RewriteRule ^{{ post_path }}(.*)$ https://{{ redirect_target }}{{ post_path }}$1 [P,L]

    RewriteRule ^.*$ ${PUSH_UNWANTED} [R=302,L]

    ProxyPassReverse / https://{{ redirect_target }}/
    {% if custom_header_name is defined %}
    RequestHeader set {{ custom_header_name }} "{{ custom_header_value }}"
    {% endif %}

    ServerAdmin webmaster@localhost
    ServerAlias www.{{ redirect_domain }}
    DocumentRoot /var/www/{{ redirect_domain }}

    ErrorLog  /var/www/{{ redirect_domain }}/logs/error.log
    CustomLog /var/www/{{ redirect_domain }}/logs/access.log combined

    <Directory /var/www/{{ redirect_domain }}/logs>
        Require all denied
    </Directory>

    SSLCertificateFile      /etc/letsencrypt/live/{{ redirect_domain }}/fullchain.pem
    SSLCertificateKeyFile   /etc/letsencrypt/live/{{ redirect_domain }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf

    Header always set Strict-Transport-Security "max-age=31536000"
    Header always set X-Frame-Options SAMEORIGIN
    Header always set X-Content-Type-Options nosniff
</VirtualHost>
</IfModule>